# Build outputs
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# IDE settings
.vscode/
.idea/
.vs/

# NuGet packages
*.nupkg
packages/

# Logs and temp files
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# local config
**/appsettings*.json